@model IEnumerable<MVC_BusinessEntity.CLlt03_atencion>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLlt05_cita.codCita)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLlt05_cita.codCita)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idAtencion }) |
                @Html.ActionLink("Details", "Details", new { id=item.idAtencion }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idAtencion })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
