@model MVC_BusinessEntity.RHUt07_paciente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RHUt07_paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numHistoriaClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numHistoriaClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupoSanguineo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupoSanguineo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obsvPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obsvPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecEliminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecEliminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuarioModificar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuarioModificar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuarioEliminar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuarioEliminar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RHUt09_persona.nombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RHUt09_persona.nombrePersona)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
